<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock title %}  </title>
 <link href="https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic" rel="stylesheet" />
    <style>
        *{
            font-family:Poppins ;
        }
    </style>
</head>
<body>

    {% block formcontent %}

    {% endblock formcontent %}

    {% block success %}
    {% endblock success %}

    {% block home %}
    {% endblock home %}


{% block tables %}

{% endblock tables %}


{% block viewbook %}{% endblock viewbook %}
</body>
</html>